*~
ui_*.h
*.swp
*.idb
*.pdb
*.ib_pdb_index
*.ncb
*.suo
*.user
Makefile
Makefile.*
debug/
Debug/
release/
Release/
GeneratedFiles/
help/test
Qt4VS2003/Qt4VS2003Ui/PlatformDefs.h
Qt4VS2003/ComWrappers/FormEditor/FormEditor.vcproj*
Qt4VS2003/ComWrappers/FormEditor/FormEditor.sln
Qt4VS2003/ComWrappers/FormEditor/*.dll
Qt4VS2003/ComWrappers/qmakewrapper/*.dll
Qt4VS2003/Doc/html
Qt4VS2003/Qt4VSAddin/StringResources*.resources
*.UnmanagedRegistration.cache
Trolltech.Qt4VS200?Base.xml
*_wrapper.bat
*_plugin_import.cpp
src/qrceditor/bin/
src/qmakefilereader/bin/
