*~
ui_*.h
*.swp
*.idb
*.pdb
*.ib_pdb_index
*.ncb
*.suo
*.user
Makefile
Makefile.*
debug/
Debug/
release/
Release/
GeneratedFiles/
help/test
*.UnmanagedRegistration.cache
Trolltech.Qt4VS200?Base.xml
*_wrapper.bat
*_plugin_import.cpp
src/qrceditor/bin/
src/qmakefilereader/bin/
