<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net472" />
  <package id="Microsoft.Net.Compilers" version="2.0.1" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Composition" version="14.2.19-pre" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.ProjectSystem" version="14.1.170-pre" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.SDK.VsixSuppression" version="14.0.50703" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="1.16.30" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Threading" version="14.1.131" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net472" />
  <package id="System.Composition" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.AttributedModel" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.Convention" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.Hosting" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.Runtime" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.TypedParts" version="1.0.31" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.113.7" targetFramework="net472" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Dataflow" version="4.5.24" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
</packages>